.broadcast-page-wrapper {
  display: flex;
}
.left-side {
  flex: 0.8;
}
.right-side {
  flex: 0.2;
  border-left: solid #999 2px;
  padding: 10px;
}
.center-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.centered-inner {
  text-align: center;
}
.broadcast-page-wrapper {
  background-color: #000;
  min-height: 80vh;
  position: relative;
}
.main-video-wrapper {
  flex: 0.8;
  background-color: #000;
  position: relative;
}
#main-video {
  height: 100%;
  display: block;
  position: relative;
}
#main-video video {
  height: 100%;
  margin: 0 auto;
  display: block;
}
#participants-videos {
  flex: 0.8;
  display: flex;
  flex-wrap: nowrap;
  height: 200px;

  background-color: rgb(19, 19, 19);
}
#others-videos {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#participants-videos video {
  width: 200px;
  height: 150px;
}
.small-button {
  padding: 7px 10px;
}
.video-conatiner {
  display: block;
  position: relative;
  height: 100%;
}
.my-video-controls {
  background-color: rgb(46, 46, 46);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.vertical-spacer {
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #aaa;
  margin-left: 5px;
  margin-right: 5px;
}
.msg-body {
  color: #eee;
}
.chat-area {
  color: #fff;
  height: 90%;
}
#chat-window {
  overflow-y: hidden;
  height: 100%;
  display: block;
}
.chat-header {
  border-bottom: 1px solid #fff;
}
