.full-width {
  width: 100%;
  object-fit: cover;
}
.spacer {
  margin-top: 50px;
  display: block;
}
.md-form > label,
.select-wrapper > label.mdb-main-label {
  overflow: visible;
}
.select-wrapper span.caret {
  right: 10px;
}
h2 {
  padding-left: 0 !important;
}
.make-all-center,
.make-all-center div,
.make-all-center .col {
  margin: 0 auto;
}
h4 {
  text-shadow: none !important;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 2px 2px #000 !important;
  font-weight: 400 !important;
}
.carousel-caption .btn-primary {
  background-color: #b40000 !important;
}
.carousel {
  border-bottom: 9px solid #c70000;
}
div[data-test='col'] {
  margin-left: auto;
  margin-right: auto;
}

div[data-test='card'] .view .Ripple-parent {
  border-bottom: 9px solid #c70000;
}

div[data-test='card'] .small-text {
  margin-bottom: 10px;
}
footer {
  padding-top: 50px;
}
footer.bg-light {
  background-color: #333 !important;
  color: #eee;
  padding-top: 20px;
}
body {
  background-color: rgb(234, 234, 234);
}
nav {
  border-bottom: 10px solid rgb(0, 33, 48);
}
